body{ 
    background-color: rgb(236, 235, 222);
    margin: 0;
    
}
h1,h2{
    font-family: Verdana, sans-serif;
}
header{
    background-color: rgb(69, 150, 15);
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    max-height: 100px;
    padding: 10px;
}
header img{
    object-fit: contain;
}

section{
    background-color: rgb(199, 226, 181);
    min-height: 75vh;
    margin: 20px;
    align-content: center;
   
}
section h1{
    display: flex;
    justify-content: center;
    font-size: 400%;
    text-align: center;
    font-style: sans-serif;
} 
section h2{
    display: flex;
    justify-content: center;
    font-size: 200%;
    text-align: center;
    font-style: sans-serif;
}
form{
    display: flex;
    justify-content: center;

}
input{
 
 font-size: 300%;
 width: 50%;
 text-align: center;
}


footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 5px;
    position: fixed;
    width: 100%;
    bottom: 0;
}