body{ 
    background-color: rgb(236, 235, 222);
    margin: 0;
}
h1,h2{
    font-family: Verdana, sans-serif;
}
header{
    background-color: rgb(69, 150, 15);
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    max-height: 100px;
    padding: 10px;
}
header img{
    object-fit: contain;
}
section{
    background-color: rgb(199, 226, 181);
    min-height: 75vh;
    margin: 20px;
}
.c1{
    align-content: center;
    text-align: center;
}
.c1 h1{
    justify-content: center;
    font-size: 400%;
    display: flex;
}
.c1 h2{
    display: flex;
    justify-content: center;
    font-size: 200%;
    text-align: center;
    font-style: sans-serif;
}
.c1 form{
    display: flex;
    justify-content: center;
}
.c1 input{
 font-size: 300%;
 width: 50%;
 text-align: center;
}

.historial, .acciones{
    flex: 1;
}
.datos{
    display: flex; 
    justify-content: space-between;
    align-content: top;
    color: rgb(66, 117, 33);
    font-size: 10px;
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

.contenido{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 5px;
    position: fixed;
    width: 100%;
    bottom: 0;
}