body{ 
    background-color: rgb(236, 235, 222);
    margin: 0;
}
h1,h2{
    font-family: Verdana, sans-serif;
}
header{
    background-color: rgb(69, 150, 15);
    display: flex;
    justify-content: center;
    margin-inline: 10px; /*margin en eje x*/
    margin-top: 10px;
    max-height: 100px;
    padding: 10px;
}
header img{
    object-fit: contain; /*mantiene la imagen del tamaño del contenedor*/
}

section{
    background-color: rgb(199, 226, 181);
    min-height: 75vh;
    margin: 20px;
    
}

/*contenido de la pagina de login*/
.c1{
    align-content: center;
    text-align: center;
}
.c1 h1{
    font-size: 400%;
}

.c1 h2{
    font-size: 200%;
}

.c1 input{
    font-size: 300%;
    width: 300px;
    text-align: center;
}

.c1 button{
    margin: 10px;
    width: 100px;
}

#mensajeError{
    display: none; 
    color: red;
}

.datos{
    display: flex; 
    justify-content: space-between;
    align-content: top;
    color: rgb(66, 117, 33);
    font-size: 10px;
    padding-top: 5px;
    padding-bottom: 0px;
    margin-inline: 20px; /*margin en eje x*/
}

.historial, .acciones{
    flex: 1;
}
.contenido{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.acciones{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding:20px ;
    flex: 1;
}
.acciones button{
    margin: 5px;
}
.transaciones{
    text-align: end;
    display: flex; justify-content: space-between;
}
.transaciones h1{
    font-size: 20px;
    padding-right: 40px; 
}
.transaciones hr{
    margin-left: 20px;
    margin-right: 20px;
}
footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 5px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.resta{
    color: #dd3434;
}
.suma{
    color: rgb(115, 214, 16);
}
.ver_mas {
    text-align: center;
    background-color: aliceblue;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}
a{
    text-decoration: none;
    color: black;
}
a  h1{
    color: black; 
    background-color: aliceblue; 
    margin-left: 30%; 
    margin-right: 30%; 
    padding: 5px; 
    border-radius: 5px; 
    border: solid;
}
